:root {
  --primary: #36b62a;
  --primary-content: #e7f9e6;
  --primary-dark: #2a8d20;
  --primary-light: #4dd340;

  --secondary: #febf4b;
  --secondary-content: #4a3000;
  --secondary-dark: #fead18;
  --secondary-light: #fed17e;

  --background: #151f14;
  --foreground: #202e1f;
  --border: #354d33;

  --copy: #fbfcfa;
  --copy-light: #d2e0d1;
  --copy-lighter: #97b894;

  --success: #2ab62a;
  --warning: #b6b62a;
  --error: #b62a2a;
  --success-content: #e6f9e6;
  --warning-content: #000000;
  --error-content: #f9e6e6;

}

body .container {
  background: var(--foreground);
  color: var(--copy);
}
body .input:focus {
  border-color: var(--primary-content);

}
body .input.error {
  border-color: var(--error);
}
body .input {
  background-color: var(--foreground);
  border: 1px solid var(--border);
  color: var(--copy);
}

.react-tel-input .form-control {
  position: relative;
  font-size: 14px;
  letter-spacing: .01rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 48px;
  margin-left: 0;
  background: var(--background);
  border: 1px solid var(--border);
  border-radius: 5px;
  line-height: 25px;
  height: 35px;
  width: 300px;
  outline: none;
  color: var(--copy);
}

.react-tel-input .flag-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 3px 0 0 3px;
}

.react-tel-input .flag-dropdown.open {
  z-index: 2;
  background: var(--background);
  border-radius: 3px 0 0 0;
}

/* buttons */
.button {
  background-color: var(--primary-dark);
  color: var(--primary-content);
}
.button:disabled,
.button:focus,
.button:active,
.button:hover {
  background-color: var(--primary-light);
}
.logout .button {
  background: var(--primary);
}
.cancel .button {
  background: var(--secondary);
}
.logout .button:hover {
  background: var(--secondary);
}
.cancel .button:hover {
  background: var(--secondary-dark);
}

/* links */
.link {
  color: var(--primary-dark);
}
.link:focus {
  outline: 1px dotted var(--primary-dark);
}
div.error {
  color: var(--error-content);
  background: var(--error);
}
.side-column {
  color: var(--primary-content);
  background: var(--background);
}
.main-column,
.bg {
  background: var(--background);
  color: var(--copy);
}

/* modal */
.modal {
  background-color: var(--background);
}
.modal-container {
  box-shadow: 0 0 20px var(--border);
  background: var(--foreground);
}
.logout-modal {
  background-color: rgba(94, 110, 141, 0.9);
}
.logout-modal-container {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background: var(--foreground);
}

/* contact */
.contact-links .link {
  color: var(--copy-light);
}

/* footer */
.footer-container {
  background: var(--background);
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}
.footer-link {
  color: var(--primary-dark);
}
.footer-container a {
  color: var(--primary-dark);
}
.footer-row-2 {
  color: var(--copy-light);
}

/* header */
.header-row-1 {
  background: var(--background);
}
.header-language-btn {
  color: var(--copy-light);
  border-bottom: 3px rgba(0, 0, 0, 0.45) solid;
}
.header-language-btn.active {
  color: var(--copy);
  border-bottom-color: var(--copy);
}
.header-row-2 {
  background: var(--background);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
#root .header-link {
  text-transform: uppercase;
  color: var(--copy);
  border: 1px solid var(--border);
  font-weight: normal;
  background: transparent;
}
#root .social-link {
  color: var(--primary-dark);
  border: 1px solid var(--border);
  background: var(--foreground);
}
#root .social-link:hover {
  color: var(--primary-content);
}

#root .header-link.active,
#root .header-link:hover {
  background: var(--primary-light);
  color: var(--primary-content);
  border: 1px solid rgba(0, 0, 0, 0);
}
#root .header-link.active {
  font-weight: bold;
}
.sticky-container {
  border-bottom: 1px solid var(--border);
  background: rgba(0, 0, 0, 0.65);
  color: #fff;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .header-hamburger {
    background-color: var(--foreground);
  }
  .header-hamburger:focus {
    outline: dotted 1px #fff;
  }
  .header-hamburger > div {
    background: #777777;
  }
  .header-mobile-menu {
    background: var(--foreground);
  }
}

/* status */
.large-table {
  border-color: #ccc;
}
.large-table td {
  color: #333333;
  border-top: 1px dotted rgba(0, 0, 0, 0.2);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
.large-table thead {
  background: #f6f6f6;
}
.large-table tbody tr:nth-child(odd),
.small-table tbody:nth-child(even) {
  background: #ffffff;
}
.large-table tbody tr:nth-child(even) {
  background: #f9f9f9;
}

/* registration */
.plans .plan {
  background: var(--background);
  border: 1px solid var(--border);
}
.plan:hover,
.plan.active {
  border: 1px solid var(--copy-light);
}

.content > .inner {
  background: var(--foreground);
  box-shadow: 0px 0px 6px var(--background);
  color: white;
}

.main-column,
.side-column {
  border: 1px solid var(--border);
  color: var(--copy);
}
